/* Big tablet to 1200px (widths smaller taht the 1140px row) */
/* @media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
} */

/* Small tablet to big tablet:- from 768px to 1023px . This will target IPad in the protrate mode but IPad in landscape view has 1024px */
@media only screen and (max-width: 1023px) {
    /* +++++++	*******  
    HEADER: HOME PAGE
    +++++++	******* */
    .header-contact { padding: 1rem }
    .mail-icon, 
    .call-icon {
        height: 1.35rem;
        width: 1.35rem;
    }
    .call-us{ margin-left: 1.6rem; margin-right: auto;}
    .call-box{font-size: 1.5rem; letter-spacing: .5px;}
    .mail-us { 
        margin-left: .74rem;
        font-size: 1.5rem;
        letter-spacing: .5px;
    }
    .links-icon {
        height: 2.5rem;
        width: 2.5rem;
    } 
    .links:not(:last-child) { margin-right: 1.5rem;}
    .navbar{	padding: 5px;}
    .nav-row{ margin: 0% 1% 0% 1.5%;}
    .logo a .logo-brand {
        height: 90px;
        margin-top: 25%;        
    }
    .navbar-nav { top: 10%;}
    .navbar .navbar-nav ul > li > a{
        padding:20px 0;
        font-weight: 550;
        font-size:14.6px;
    }
    .navbar .navbar-nav ul > li{ margin:0 10px; }
    .text-box { margin: 9% auto;}
    h1 { 
        font-size: 3rem;
        word-spacing: 1.3px;
        margin-top: 65px;
    }
    .btn:link,
    .btn:visited {
        padding: 10px 20px;
        font-size: 145%;
        font-weight: 550;
    }
    
    /* +++++++	*******  
    ABOUT VICKY LAWRENCE SCHOOLS
    +++++++	******* */
    h3 {
        font-size: 2.2rem;
        margin: 20px 0 8px 10px;
        line-height: 1.6;
    }
    .principal-brief{
        margin-top: 3%;
        flex-direction: column;
    }
    .principal {
        width: 100%;
        margin-left: 0%;
        letter-spacing: .5px;	
    }
    .paragraphs {
        font-size: 1.5rem;
        line-height: 2.1;
        width: 100%;
        padding: 0 2% ;
    }
    .btn-read{
        margin: 3%;
        letter-spacing: .8px;
        font-size: 1.6rem;
        margin-top: 20px;
    }
   
    /* +++++++	*******  
    VICKY LAWRENCE SCHOOLS
    +++++++	******* */
    .all-programs { margin-top: 5px; }
    .vls-segments h3 {font-size: 1.82rem;}
    .btn-schools:link,
    .btn-schools:visited {
        padding: 8.5px 10px;
        margin-bottom: 10px;
        font-size: 1.8rem;
        font-weight: 400;
        box-shadow: 0px 3px 10px #5a5a5ae2;
    }
    .vls-segments {
        margin-right: 2rem;	
        width: 23.5%;
    }
    .btn-schools:hover,
    .btn-schools:active {  transform: scaleY(1); }  

    /* +++++++	*******  
    NEWS & EVENTS
    +++++++	******* */
    .award-icons { margin-bottom: 1.25px; }
    .award-type {
        font-size: 1.78rem;
        font-weight: 500;
        text-transform: initial;
        margin-bottom: 14px;
        margin-left: 1%;
    }
    .sch-admissions { font-size: 1.78rem; }
    
    /* +++++++	*******  
    NEWSLETTER
    +++++++	******* */
    .subscribed { margin: 0 0 25px 18px; }
    .para .subs-1 {
        width: 50%;
        padding: 2%;
        margin-left:8%;
        font-size: 2.3rem;
    }
    .para .subs-1:focus ~ span,
    .para .subs-1:valid ~ span {
        transform: translateX(-7px) translateY(-33px); /*Floating text*/
        font-size: 1.6rem;
    }
    
    /* +++++++	*******  
    CONTACT US
    +++++++	******* */
    .map-contact { padding: 2% 0 2% 2%;}
   .forms-fill form {
       margin-left: 3%;
   }
    
    /* +++++++	*******  
    FOOTER
    +++++++	******* */
    .footer-menu {
        width: 200%;
    }
    .link-sicon {
        height: 2.1rem;
        width: 2.1rem;										
    }
    .footer-para {
        text-align: center;
        margin-top: 13px;
    }
    footer {
        font-size: 1.24rem;
        padding: 25px;
    }

}

/* Small phones to small tablets :- for width of smaller than the Ipad of width 768px: from 481px to 767px */
@media only screen and (max-width: 767px) {
    /* +++++++	*******  
    HEADER: HOME PAGE
    +++++++	******* */
    .header-contact { padding: .5rem }
    .mail-icon, 
    .call-icon {
        height: 1rem;
        width: 1rem;
    }
    .call-us{ margin-left: 2rem; margin-right: auto;}
    .call-box{font-size: 1.2rem;}
    .mail-us { 
        margin-left: .64rem;
        font-size: 1.2rem;
    }
    .links-icon {
        height: 2rem;
        width: 2rem;
    }
    .social-links{margin-right: 10px;} 
    .links:not(:last-child) { margin-right: 1rem;}
    /* .logo a .logo-brand {
        height: 85px;
        width: auto;
        margin: 2% 0 10% 0;
        border-radius: 50%;
        
    } */
  
    /* Mobile Navigation */
    .logo a .logo-brand {
        height: 75px;
        margin-top: 0%;
    }
    .navbar-nav ul { display: none; }
    .mobile-nav-icon { display: inline-block; }
    /* .navbar .logo{display: none;} */

    .nav-row{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: left;
        margin: 1% 5% 0% 3%;
    }
    .my-mobile-icon { margin: 2% 0 10% 0;}
    .navbar .navbar-nav ul > li{ display: block;} 
    .navbar-nav { margin-right: auto;}
    .sticky .navbar-nav ul > li > a:link,
    .sticky .navbar-nav ul > li > a:visited {
        padding:  3px;
        display: block;
        font-weight: 450;
        font-size: 15px;
        text-align: justify;
        margin: 1px 0px 2px 55px;
        border: 0;  
    }
    .navbar-nav ul > li > a:link,
    .navbar-nav ul > li > a:visited {
        padding:  3px;
        display: block;
        font-weight: 450;
        font-size: 15px;
        text-align: justify;
        margin: 1px 0px 2px 55px;
        border: 0;  
    }
    .sticky .logo-brand { display: none; }
    .sticky .logo2-brand { display: block; }
    .mobile-nav-icon { margin-top: .7px;}

    .text-box { margin: 2.5% auto;}
    h1 { 
        font-size: 2.8rem;
        word-spacing: 1.3px;
        margin-top: 70px;
        line-height: 1.25;
    }
    .btn:link,
    .btn:visited {
        padding: 8px 20px;
        font-size: 140%;
        font-weight: 500;
    }

    /* +++++++	*******  
    ABOUT VICKY LAWRENCE SCHOOLS
    +++++++	******* */
    h2 {
        font-size: 2.6rem;
        margin-bottom: 17px;
    }
    .principal-brief{
        display: flex;
        justify-content: center;
        margin-top: 2.5%;
        flex-direction: column;
    }
    .principal {
        width: 100%;
        margin-left: 0%;	
    }
    h3 {
        font-size: 1.75rem;
        margin: 20px 0 8px 10px;
    }
    .paragraphs {
        font-size: 1.51rem;
        line-height: 2.1;
        width: 100%;
        padding: 0 2% ;
    }
    .btn-read{
        margin: 4%;
        letter-spacing: .8px;
        font-size: 1.5rem;
    }

    /* +++++++	*******  
    VICKY LAWRENCE SCHOOLS
    +++++++	******* */
    h2:after{ 
        margin-top: 3px;
        margin-bottom: 1.5px;
    } 
    .all-programs {
        flex-direction: column;
        padding: 0 1rem;
        margin-top: 5px;
    }
    .sch-items { margin: 0rem;}
    .vls-schLogo {
        height: 4rem;
        width: 4rem;
        margin-right: 16px;
    }
    .vls-sch-title {
        display: flex;
        justify-content: center;
    }
    .vls-segments {
        padding: 2%;
        margin-bottom: 30px;
        width: 100%;
    }
    .vls-segments:hover {transform: translateY(-1.0rem) scale(1.0);}

    /* General Style Usage */
    .sch-items {  margin: 0rem; }
 
    .vls-img {
        max-width: 98%;
        height: auto;
        border-radius: 4px;
        margin: auto;
    }
    .vls-img:hover { transform: translateY(-1.1rem) scale(1.05);}
    .vls-values {
        font-size: 1.45rem;
        line-height: 1.8;
        margin: 5px 0px 6px 0px;
        padding: 1.2%;
    }
    .btn-schools:link,
    .btn-schools:visited {
        padding: 8.5px 10px;
        margin-bottom: 10px;
        font-size: 150%;
        font-weight: 400;
        box-shadow: 0px 3px 10px #5a5a5ae2;
    }
    .btn-schools:hover,
    .btn-schools:active {  transform: scaleY(1); }   

    /* +++++++	*******  
    NEWS & EVENTS
    +++++++	******* */
    .all-ourAwards { margin: 10px;}
    .all-awards {
        flex-direction: column-reverse;
    }
    .award-icons {
        height: 4.2rem;
        width: 4.2rem;
        margin-bottom: 3px;
    }
    .award-type{
        font-size: 1.8rem;
    }
    .vls-img {
       max-width: 95%;
       margin: 20px auto 1.4px auto;
    }
    .award-descriptions {
        /* overflow: none; */
        height: 142px;
        font-size: 1.5rem;
        padding: 2.1%;
    }
    .high-sch-award, 
    .admissions,
    .tech-awards {
        padding: 3% 1%;
        margin-bottom: 3.5rem;	
        width: 100%;
        box-shadow: 0px 7px 13px #5a5a5ae2; 
    } 
    /* +++++++	*******  
    PARENTS TESTIMONIALS
    +++++++	******* */
    .testimonies h2 { margin-bottom: 18px;}
    .testimonial-items .our-pt  {
        font-size: 1.5rem;
        margin-bottom: 22px;
        letter-spacing: .5px;
        line-height: 1.7;
    }
    .testimonial-items h4 {
        font-size: 1.3rem;
        margin: 12px 0px 1px 0px;
        line-height: 1.1;
    }
    /* +++++++	*******  
    NEWSLETTER
    +++++++	******* */
    /* .para {	position: relative;} */
    .subscribed { 
        margin: 0 0 25px 18px;
        font-size: 2.2rem;
     }
    .para .subs-1 {
        width: 50%;
        padding: 1.2%;
        margin-left:8%;
        font-size: 2.2rem;
    }
    .para .subs-1:focus ~ span,
    .para .subs-1:valid ~ span {
        transform: translateX(-7px) translateY(-33px); /*Floating text*/
        font-size: 150%;
    }

    /* +++++++	*******  
    CONTACT US
    +++++++	******* */
    #our-contact .container p{
        letter-spacing:0.5px;
        font-size: 1.5rem;
    }
   .map-contact { display: none;}
   .forms-fill form {
       margin-left: 7%;
   }
 
	#contact-section .submit{ width: 30%; }
    input{
        padding: 6px;
        font-size: 1.15rem;
        color: var(--color-text-2);
        outline:none;
    }
    .inputs-form { width: 100%; }
    .textArea {
        width: 100%;
        padding: 10px; 
        font-size: 1.65rem;
    }
    .submit{
        padding: .5px;
        font-size: 13px;
    }
    
    /* +++++++	*******  
    FOOTER
    +++++++	******* */
    .link-sicon {
        height: 1.9rem;
        width: 1.9rem;										
    }
    .footer-para {
        color: #888;
        text-align: center;
        margin-top: 5px;
    }
    footer {
        font-size: 1.12rem;
        padding: 25px 15px;
    }
}

/* Small phones for width of old iphone 5 & 6: from 0 to 480px */
/* +++++++	*******  
HEADER: HOME PAGE
+++++++	******* */
@media only screen and (max-width: 480px) {
    .header-contact {
        height: 10em;
        padding: .5rem 2.1rem;
    }

    .header-contact,
    .call-us {
        display: flex;
        flex-direction: column;
    }
    .divider-1{ display: none;}

    .header-contact,
    .call-us,
    .social-links {
        align-items: flex-start
    }
    .social-links {
       margin: .8rem 2rem;
    }
    .mail-us { margin-left: 0rem;}
    .mail-icon { margin-top: .8rem;}
    .mail-icon, 
    .call-icon {
        height: 1.15rem;
        width: 1.15rem;
    }
    .links-icon {
        height: 1.73em;
        width: 1.73rem;
    }
    .links:not(:last-child) { margin-right: 2rem;}
    /* .down-arrow {
        display: none;
    } */
    .call-box,
    .contact-m{font-size: 1.32rem;}
    
    .logo a .logo-brand { height: 75px; }
    
    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 10px 10px 5px;
    }
    .text-box { margin: 9.5% auto;}
    h1 {
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 1.95rem;
        word-spacing: 1.2px;
    }
    .leaders { font-size: 1.25rem;}
    .btn:link,
    .btn:visited {
        padding: 7px 15px;
        font-size: 1.4rem;
        font-weight: 500;
        border: 1px solid var(--color-background-4);
    }
    .btn:hover,
    .btn:active {
        background-color: var(--color-background-4);
        color: var(--color-primary-1);
        border: 1px solid var(--color-primary-3);
    }

    /* +++++++	*******  
    ABOUT VICKY LAWRENCE
    +++++++	******* */
    .principal-brief{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1.5%;
    }
    .principal {
        width: 95%;
        margin-left: 2.8%;
    }   
    .sch-welcome h3 {	
        font-weight: 450;
        margin-top: 10px;
    }
    .our-schPrincipal { font-size: 115%;}
    .name{
        font-size: 120%;
        margin-top: 2px;
    }
    h2 {
        font-size: 2rem;
        word-spacing: 1.3px;
        margin-bottom: 10px;
        letter-spacing: .9px;
    } 
    h3 {
        font-size: 1.44rem;
        margin-bottom: 6.5px;
        margin-left: 2.8%;
    }
    .sch-welcome { margin-left: 6px; }
    .paragraphs {
        font-size: 1.3rem;
        line-height: 1.8;
        width: 100%;
        padding: 0 3% ;
    }
    .btn-read{
        margin: 3.5% 4%;
        letter-spacing: .6px;
        border-radius: 5px;
        font-size: 1.36rem;
    }

    /* +++++++	*******  
    VICKY LAWRENCE SCHOOLS
    +++++++	******* */
    h2 {
        margin-bottom: 15px;
        letter-spacing: 1px;
    } 
    h2:after{ margin-top: 3px;} 
    .all-programs {
        flex-direction: column;
        padding: 0 1rem;
        margin-top: 5px;
    }
    .sch-items { margin: 0rem;}
    .vls-schLogo {
        height: 3.8rem;
        width: 3.8rem;
        margin-right: 8px;
        margin-left: 5px;
    }
    .vls-sch-title {
        display: flex;
        justify-content: center;
    }
    .vls-segments {
        padding: 1%;
        margin-bottom: 23px;
        width: 100%;
        transition: transform .6s;
        box-shadow: 3px 5px 10px #5a5a5ae2;
    }
    .vls-segments:hover {transform: translateY(-1.01rem) scale(1.01);}
    
    /* General Style Usage */
    .sch-items {  margin: 0rem; }
    .sch-titles { font-weight: 450;}
    .vls-img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }
    .vls-img:hover { transform: translateY(-1.1rem) scale(1.05);}
    .vls-values {
        font-size: 1.3rem;
        line-height: 1.8;
        margin: 5px 0px 6px 0px;
        padding: 1.2%;
    }
    .btn-schools:link,
    .btn-schools:visited {
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 150%;
        font-weight: 400;
        box-shadow: 0px 3px 10px #5a5a5ae2;
    }
    .btn-schools:hover,
    .btn-schools:active {
        transform: scaleY(1);
        border: 1px solid var(--color-primary-1);
    }
    
    /* +++++++	*******  
    NEWS & EVENTS
    +++++++	******* */
    .all-ourAwards { margin: 10px;}
    .all-awards {
        flex-direction: column-reverse;
        padding: .8rem;
    }
    .award-icons {
        height: 4rem;
        width: 4rem;
        margin-bottom: 7px;
    }
    .high-sch-award, 
    .admissions,
    .tech-awards {
        padding: 3% 1%;
        margin-bottom: 3.5rem;	
        width: 100%;
        transition: transform .4s;
        box-shadow: 1px 7px 13px #5a5a5ae2;
    }
    .sch-admissions {
        font-size: 1.5rem;
        font-weight: 450;
        margin-bottom: 1px;
    }
    .award-descriptions {
        overflow: none;
        height: 125px;
    }
    .vls-img {
       max-width: 95%;
       margin: 20px auto 1px auto;
    }

    /* +++++++	*******  
    PARENT TESTIMONIALS
    +++++++	******* */
    .testimonies h2 { margin-bottom: 19px;}
    .testimonial-items .our-pt  {
        font-size: 14px;
        margin-bottom: 20px;
        letter-spacing: .2px;
        line-height: 2;
    }
    
    .testimonial-items h4 {
        font-size: 11px;
        margin: 11px 0px 1px 0px;
        letter-spacing: .2px;
        line-height: 1.1;
    }
    
    /* +++++++	*******  
    NEWSLETTER
    +++++++	******* */
    .subscribed {
        font-size: 1.22rem;
    }
    .para {	position: relative;}
    .para .subs-1 {
        width: 60%;
        padding: 1.2%;
        margin-left:9%;
        font-size: 93%;
    }
    .para span{
        position: absolute;
        top: .7px;
        left: .7px;
        font-size: 105%;
        padding: 1.35%;
        margin-left:8%;
        pointer-events: none;
        letter-spacing: .5px;
    }
    .subs-2{
        width: 70px;
        font-size: 110%;
        padding: .5%;    
    }

    /* +++++++	*******  
    CONTACT
    +++++++	******* */
    @media (max-width: 768px){
        #contact-section .contact-form{
            display: block;
            width: 95%;
		margin: auto;
	}
    #contact-section .submit{ width: 30%; }
    .container p {
        font-size: 1rem;
    }
    input{
        padding: 6px;
        font-size: 1.15rem;
        color: var(--color-text-2);
        outline:none;
        width: 50%;
    }
    .inputs-form { width: 80%; }
    .textArea {
        width: 80%;
        padding: 10px; 
        font-size: 1.65rem;
    }
    .submit{
        padding: 2px;
        font-size: 13px;
    }
    
    /* +++++++	*******  
    FOOTER
    +++++++	******* */
    .footer-menu { display: none; }
    .link-sicon {
        height: 2rem;
        width: 2rem;										
    }
    .social-links li { margin-right: 13px; }
    .footer-para {
        color: #888;
        text-align: center;
        margin-top: 2px;
    }
    footer {
        font-size: 1.21rem;
        padding: 23px;
    }
}
